@use "../index.scss";

.inputs {
  margin-top: 15%;
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 15px;
}

input {
  cursor: pointer;
  transition: 200ms;

  border-radius: 8px;
  border: 2px solid index.$text-20;
  font-size: 1.5rem;
  outline: none;
  padding: 5px;
}

input[type=text] {
  width: 50%;
  padding-left: 20px;
  background: index.$secondary-10;
  color: index.$text;
}

input[type=button] {
  background: index.$secondary;
  color: index.$bg;
  font-weight: bold;
  padding: 0 20px;
  box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.25);

  &:hover, &:active {
    opacity: 0.65;
  }
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 200ms;
}
