@use "../index.scss";

.card {
  width: 90%;
  aspect-ratio: 19/3;

  cursor: pointer;
  transition: 200ms;

  border-radius: 8px;
  border: 2px solid index.$text-20;
  background: index.$secondary-10;

  display: flex;
  align-items: center;

  animation: 500ms ease-in display-anim;

  .clr {
    height: 80%;
    width: 3%;
    border-radius: 1000px;
    position: relative;
    margin: 0 15px;
  }

  h3 {
    font-size: 1.25rem;
  }

  .ico {
    margin-left: auto;
    margin-right: 15px;
  }
}

.delete {
  transition: 0;
  margin-top: -88px;
  opacity: 0;
}

@keyframes display-anim {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.not-active {
  background: index.$primary-10;

  .clr {
    transition: 200ms;
    opacity: 0.65;
  }

  h3 {
    transition: 200ms;
    opacity: 0.65;
    span {
      opacity: 0.65;
      text-decoration: line-through;
    } 
  }
  
  .ico {
    transition: 200ms;
    opacity: 0.65;
  }
}
